@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="max-height:100px; min-height:100px">
    <div class="col-md-3" style="margin-top: 50px; ">
        <a href="/AdminPanel/AdminDictionary/ExtendedProperties">
            <div class="ProgrameFeature">
                <img src="~/Images/DbaTools.png" class="img-responsive" style="max-height:100px; min-height:100px">
            </div>
            <div class="homepage-content" style="mar">Extended Properties</div>
        </a>
    </div>
    <div class="col-md-3" style="margin-top: 50px; ">
        <a href="/AdminPanel/TeamTaskTypeDetail/Index">
            <div class="ProgrameFeature">
                <img src="~/Images/TaskType.png" class="img-responsive" style="max-height:100px; min-height:100px">
            </div>
            <div class="homepage-content" style="mar">Team Mapping</div>
        </a>
    </div>
    <div class="col-md-3" style="margin-top: 50px; ">
        <a href="/AdminPanel/TeamManagement/Index">
            <div class="ProgrameFeature">
                <img src="~/Images/TaskType.png" class="img-responsive" style="max-height:100px; min-height:100px">
            </div>
            <div class="homepage-content" style="mar">Team Management</div>
        </a>
    </div>
</div>